*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: auto;
    max-width: 70vw;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

nav h4
{
    font-size: 2rem;
}

nav ul
{
    display: flex;
    gap: 50px;
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

p
{
    line-height: 28px;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

/*#sectionA p {
    background-color: rgb(73, 227, 204);

}*/

#sectionA p{
    display: flex;
    border: 1px solid black;
    max-height: 1000px;
    width: 50%;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin:auto;
}

img
{
    width: 50%
}

#sectionB
{
    justify-content: center;
    padding: 150px;
    /*background: linear-gradient(135deg, rgb(130,218,245)45%, rgb(73,227,204)55% );*/
    background: linear-gradient(217deg, rgba(230,0,0,.8), rgba(230,0,0,0) 70.71%), 
                linear-gradient(127deg, rgba(0,224,0,.8), rgba(0,224,0,0) 70.71%), 
                linear-gradient(336deg, rgba(0,0,205,.8), rgba(0,0,205,0) 70.71%);
}


#sectionB p
{
    width: 50%;
    font-size: 25px;
}   


.about-us-heading
{
    font-size: 3rem;
    transform: rotate(-90deg);
}

#sectionA,
#sectionC
{
    gap: 30px;
}

#secCBorder 
{
    display: flex;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(250deg, rgb(246,196,146)45%, rgb(246,161,146)55% );
    margin:auto;
}
    

#secCBorder p {
    /*border: 1px solid black;
    display: flex;
   border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
   /* margin: auto;*/
   font-weight: 400;
   font-size: 30px;
   line-height: 45px;
}


.website-info
{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.website-photos-info-left,
.website-photos-info-right
{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.website-photos-info-left
{
    align-items: flex-start;
    display: flex;
   
}

.website-info p
{
    margin: 50px 0;
}

.website-info h1
{
    font-size: 3rem;
}

.button
{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 15px 50px;
    border-radius: 5px;
}

.button:hover
{
    background-color: rgb(54, 54, 54);
}

.website-photos-info-right
{
    gap: 45px;
}




.website-photos-info-right-img1
{
    align-self: flex-start;
    padding-left: 50px;
}

.website-photos-info-right-img2
{
    align-self: flex-end;
    padding-right: 50px;
}

#tips-info
{
    margin: 150px 0;
}

.website-tips-info-left,
.website-tips-info-right
{
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.website-tips-info-right
{
    width: 45%;
    align-items: flex-end;
    text-align: right;
    display: flex;
}

.website-tips-info-left
{
    gap: 45px;
}

.tips-example-post
{
    border: 3px rgba(0, 0, 0, 0.61) solid;
    width: 50%;
    border-radius: 8px;
    padding: 10px;
}

.tips-example-post-pfp
{
    width: 50px;
    border-radius: 100%;
}

.post1
{
    align-self: flex-start;
}

.post2
{
    align-self: flex-end;
}
footer
{
    margin: 50px 0 20px;

    text-align: center;
}