*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: auto;
    max-width: 70vw;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav h4
{
    font-size: 2rem;
}

nav ul
{
    display: flex;
    gap: 50px;
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

p
{
    line-height: 28px;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

/*#sectionA p {
    background-color: rgb(73, 227, 204);

}*/

#sectionA p{
    display: flex;
    border: 1px solid black;
    max-height: 1000px;
    width: 50%;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin:auto;
}

img
{
    width: 50%
}

#sectionB
{
    justify-content: center;
    padding: 150px;
    /*background: linear-gradient(135deg, rgb(130,218,245)45%, rgb(73,227,204)55% );*/
    background: linear-gradient(217deg, rgba(230,0,0,.8), rgba(230,0,0,0) 70.71%), 
                linear-gradient(127deg, rgba(0,224,0,.8), rgba(0,224,0,0) 70.71%), 
                linear-gradient(336deg, rgba(0,0,205,.8), rgba(0,0,205,0) 70.71%);
}


#sectionB p
{
    width: 50%;
    font-size: 25px;
}   


.about-us-heading
{
    font-size: 3rem;
    transform: rotate(-90deg);
}

#sectionA,
#sectionC
{
    gap: 30px;
}

#secCBorder 
{
    display: flex;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(250deg, rgb(246,196,146)45%, rgb(246,161,146)55% );
    margin:auto;
}
    

#secCBorder p {
    /*border: 1px solid black;
    display: flex;
   border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
   /* margin: auto;*/
   font-weight: 400;
   font-size: 30px;
   line-height: 45px;
}

/* Styling for Home Page */
/* Navigation Bar */
  
.homePage {
    position: fixed;
    z-index: 5;
   /*top: -30.8em; */
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 100%;
    height: 125px;
    padding-top: 1rem;
    /*padding-bottom: 2rem;*/
   border: 1px solid red;
    background: url("../images/nav_background.webp") center center no-repeat;
    background-size: cover;
    font-family: "Proza Libre", serif;
    font-size: 18px;
    font-weight: bold;
    color: #142033;
    top:0;
    /*transition: top 1s ease-in 250ms;*/
  }
  
 /* nav:hover {
    top: 0;
  } */
  
  .homePage .logo {
    margin-left:1px;
    padding-right: 60px;
  }
  /*.hover-content nav {
    margin-left: 3em;
  } */
  .homePage li {
    list-style: none;
    display:inline;
    padding-right: 15px;
    text-align:right;
    margin-left: 60px;
  }
  .homePage ol {
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .triangle {
    
    align-self: center;
  }
  /*nav a {
    text-decoration: none;
    color: inherit;
    transition: color 750ms ease-in-out 150ms;
  
  }
  
  nav a:hover
   {
    color: #639eff;

  } */

  .text {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    background: url("https://placehold.jp/50x50.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;
    top: 140px;
    width:100%;*/
    height: 50vh;
  }

.website-info
{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.website-photos-info-left,
.website-photos-info-right
{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.website-photos-info-left
{
    align-items: flex-start;
    display: flex;
   
}

.website-info p
{
    margin: 50px 0;
}

.website-info h1
{
    font-size: 3rem;
}

.button
{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 15px 50px;
    border-radius: 5px;
}

.button:hover
{
    background-color: rgb(44, 44, 44);
}

.website-photos-info-right
{
    gap: 45px;
}




.website-photos-info-right-img1
{
    align-self: flex-start;
    padding-left: 50px;
}

.website-photos-info-right-img2
{
    align-self: flex-end;
    padding-right: 50px;
}

#tips-info
{
    margin: 150px 0;
}

.website-tips-info-left,
.website-tips-info-right
{
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.website-tips-info-right
{
    width: 45%;
    align-items: flex-end;
    text-align: right;
    display: flex;
}

.website-tips-info-left
{
    gap: 45px;
}

.tips-example-post
{
    border: 3px rgba(0, 0, 0, 0.61) solid;
    width: 50%;
    border-radius: 8px;
    padding: 10px;
}

.tips-example-post-pfp
{
    width: 50px;
    border-radius: 100%;
}

.post1
{
    align-self: flex-start;
}

.post2
{
    align-self: flex-end;
}
/* styling for content page */

.search-container {
    float: center;
    padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  position: relative;
left: 35%;
width:200px;
  }

  .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  .btn:hover {background: #eee;}
  
  .Men {color: black;}

  .Women {color: black;}

  .Foryou {color: black;}
  

  .list-group-item-child1 {
    position: relative;
    width:250px;
    
  }

  .list-group-item-child2 {
    position: relative;
    width: 250px;
    left: 30%;
    transform:translateY(-170px)

  }

  .list-group-item-child3 {
    position: relative;
    width: 250px;
    left: 60%;
    transform:translateY(-340px)
  }

  .list-group-item-child4 {
    position: relative;
    width: 250px;
    transform:translateY(-250px)
  }

  .list-group-item-child5 {
    position: relative;
    width: 250px;
    left: 30%;
    transform:translateY(-420px)
  }

  .list-group-item-child6 {
    position: relative;
    width: 250px;
    left: 60%;
    transform:translateY(-590px)
  }

  .list-group-item-child7 {
    position: relative;
    width: 250px;
    transform:translateY(-500px)
  }

  .list-group-item-child8 {
    position: relative;
    width: 250px;
    left: 30%;
    transform:translateY(-670px)
  }

  .list-group-item-child9 {
    position: relative;
    width: 250px;
    left: 60%;
    transform:translateY(-840px)
  }

  .list-group-item-child10 {
    position: relative;
    width: 250px;
    transform:translateY(-750px)
  }

  .list-group-item-child11 {
    position: relative;
    width: 250px;
    left: 30%;
    transform:translateY(-920px)
  }

  .list-group-item-child12 {
    position: relative;
    width: 250px;
    left: 60%;
    transform:translateY(-1090px)
  }

  /* Sign Up Section*/

  .sign-up-section
  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }
  .sign-up-left h1
  {
    font-size: 3rem;
    text-align: center;
  }

  .sign-up-left,
  .sign-up-right
  {
    width: 50%;
    padding: 10px 0;
  }

  .sign-up-right form
  {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 5px;
    padding: 25px;
  }

  

  label
  {
    font-size: 1.2rem;
  }

  input[type=text],
  input[type=email],
  input[type=password]
  {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.2rem;
  }

  form button
  {
    width: 50%;
    padding: 10px;
    align-self: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
  }

  form button:hover
  {
    background-color: #142033;
  }

  /* end styling for content page */

footer
{
    margin: 50px 0 20px;

    text-align: center;
}