*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: auto;
    max-width: 90vw;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

nav h4
{
    font-size: 2rem;
}

nav ul
{
    display: flex;
    gap: 50px;
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

p
{
    line-height: 28px;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

/*#sectionA p {
    background-color: rgb(73, 227, 204);

}*/

#sectionA p{
    display: flex;
    border: 1px solid black;
    max-height: 1000px;
    width: 50%;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin:auto;
}

img
{
    width: 50%
}

#sectionB
{
    justify-content: center;
    padding: 150px;
    /*background: linear-gradient(135deg, rgb(130,218,245)45%, rgb(73,227,204)55% );*/
    background: linear-gradient(217deg, rgba(230,0,0,.8), rgba(230,0,0,0) 70.71%), 
                linear-gradient(127deg, rgba(0,224,0,.8), rgba(0,224,0,0) 70.71%), 
                linear-gradient(336deg, rgba(0,0,205,.8), rgba(0,0,205,0) 70.71%);
}


#sectionB p
{
    width: 50%;
    font-size: 25px;
}   


.about-us-heading
{
    font-size: 3rem;
    transform: rotate(-90deg);
}

#sectionA,
#sectionC
{
    gap: 30px;
}

#secCBorder 
{
    display: flex;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(250deg, rgb(246,196,146)45%, rgb(246,161,146)55% );
    margin:auto;
}
    

#secCBorder p {
    /*border: 1px solid black;
    display: flex;
   border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
   /* margin: auto;*/
   font-weight: 400;
   font-size: 30px;
   line-height: 45px;
}

/* styling for content page */

.search-container {
    float: center;
    padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  position: relative;
left: 35%;
width:200px;
  }

  .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  .btn:hover {background: #eee;}
  
  .Men {color: black;}

  .Women {color: black;}

  .Foryou {color: black;}
  

  .list-group-item-child1 {
    position: relative;
    width:250px;
    
  }

  .list-group-item-child2 {
    position: relative;
    width: 250px;
    left: 30%;
    transform:translateY(-170px)

  }

  .list-group-item-child3 {
    position: relative;
    width: 250px;
    left: 60%;
    transform:translateY(-340px)
  }

  .list-group-item-child4 {
    position: relative;
    width: 250px;
    transform:translateY(-250px)
  }

  .list-group-item-child5 {
    position: relative;
    width: 250px;
    left: 30%;
    transform:translateY(-420px)
  }

  .list-group-item-child6 {
    position: relative;
    width: 250px;
    left: 60%;
    transform:translateY(-590px)
  }

  .list-group-item-child7 {
    position: relative;
    width: 250px;
    transform:translateY(-500px)
  }

  .list-group-item-child8 {
    position: relative;
    width: 250px;
    left: 30%;
    transform:translateY(-670px)
  }

  .list-group-item-child9 {
    position: relative;
    width: 250px;
    left: 60%;
    transform:translateY(-840px)
  }

  .list-group-item-child10 {
    position: relative;
    width: 250px;
    transform:translateY(-750px)
  }

  .list-group-item-child11 {
    position: relative;
    width: 250px;
    left: 30%;
    transform:translateY(-920px)
  }

  .list-group-item-child12 {
    position: relative;
    width: 250px;
    left: 60%;
    transform:translateY(-1090px)
  }

  /* end styling for content page */

footer
{
    margin: 50px 0 20px;

    text-align: center;
}